<nav class="navbar navbar-expand-lg navbar-dark">
    <a href="#" class="navbar-brand">Logo</a>
    <button class="navbar-toggler" type="button" data-target="#navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/search" class="nav-link">Search</a>
            </li>
            <li class="nav-item">
                <a href="/addrecipe" class="nav-link">Create Recipe</a>
            </li>
            <li class="nav-item">
                <a href="/addtags" class="nav-link">Create Tag</a>
            </li>
            <li class="nav-item">
                <a href="/ingredient" class="nav-link">Add Ingredients</a>
            </li>
            <li class="nav-item">
                <a href="/measurements" class="nav-link">Add Measurement</a>
            </li>
            <li class="nav-item">
                    <a href="/ratings" class="nav-link">Rate A Recipe</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navdrop" role="button" data-toggle="dropdown" data-hover="dropdown">Profile</a>
                <div class="dropdown-menu" aria-labelledby="navdrop">
                    <a href="/profile" class="dropdown-item">Profile</a>
                    <a href="#" class="dropdown-item disabled">Recipe List</a>
                    <a href="#" class="dropdown-item disabled">Grocery List</a>
                    <a href="#" class="dropdown-item disabled">Meal Plan</a>
                    <a href="#" class="dropdown-item disabled">Settings</a>
                    <a href="/logout" class="dropdown-item">Logout</a>
                </div>                
            </li>
            <li class="nav-item"></li>
                <a href="/register" class="nav-link">Sign In</a>
            </li>
        </ul>
    </div>
</nav>