<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <p>Creating Recipe For: </p><h3><%= username %></h3>
  <form action="/recipe2" method="POST" class="form-inline">
    <label class="sr-only" for="inlineFormInput">Steps</label>
    <input type="number" class="form-control mb-2 mr-sm-2 mb-sm-0" id="steps" name="steps" placeholder=" Number of Steps">
    <button type="submit" class="btn btn-primary">Confirm</button>
  </form>
</div>
</body>
<% include partials/script %>
</html>
